.service {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.service__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 22px;
}
.service__content-first {
  width: 366px;
  height: 366px;

  color: #113b47;
  font-family: Tenor Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.service__content-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 366px;
  height: 366px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s all ease;
  &:hover {
    color: $color-green-hover;
    scale: 102%;
  }

  .service__content-item-title {
    padding: 0px 91px 12px 31px;
    @extend %font-service;
    transition: 0.7s all ease;
    &:hover {
      scale: 110%;
    }
  }
  .service__content-item-about {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 0px 0px 50px 34px;
    cursor: pointer;
    transition: 0.7s all ease;
    @extend %font-default;
    &:hover {
      scale: 110%;
    }
  }
}
.q1 {
  background: url("../../images/service/Rectangle 648.svg");
}
.q2 {
  background: url("../../images/service/Rectangle 649.svg");
}
.q3 {
  background: url("../../images/service/Rectangle 651.svg");
}
.q4 {
  background: url("../../images/service/Rectangle 652.svg");
}
.q5 {
  background: url("../../images/service/Rectangle 653.svg");
}

.q6 {
  background: url("../../images/service/Rectangle 654.svg");
}

.q7 {
  background: url("../../images/service/Rectangle 655.svg");
}
.q8 {
  background: url("../../images/service/Rectangle 656.svg");
}
.q9 {
  background: url("../../images/service/Rectangle 657.svg");
}
.q10 {
  background: url("../../images/service/Rectangle 658.svg");
}
