.hero {
  background: url("../../images/hero_bg.png") 0 0/100% 100% no-repeat;
  margin-top: 47px;
  height: 800px;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero__main-content-pretitle {
  @extend %font-pretitle;
}

.hero__main {
}
.hero__main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__main-content-item {
  margin-top: 10px;
  @extend %font-title;
}
.hero__main-content-description {
  color: white;
  @extend %font-default;
  margin-top: 3px;
  margin-bottom: 34px;
}

.hero__main-content-btn {
  padding: 15px 33px 17px 33px;
  color: white;
  @extend %green-btn;
  @extend %font-default;
  font-weight: 500;
}
.hero__contact {
  position: absolute;
  border-radius: 47px;
  background: #fff;
  box-shadow: 2px 2px 8.5px 0px rgba(0, 0, 0, 0.1);
  right: 230px;
  bottom: 100px;
  cursor: pointer;
  transition: 1s all ease;
  animation: 3s linear 1s infinite running pulse;
  &:hover {
    background: $color-green;
    p {
      color: white;
    }
  }
}
.hero__contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %font-default;
  color: $color-green-bold;
  p {
    padding: 20px 20px 20px 36px;
    transition: 1s all ease;
  }
  img {
    background-color: $color-green-bold;
    border-radius: 100%;
    padding: 13px;
    margin-right: 11px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(105%);
  }

  50% {
    transform: scale(100%);
  }
  100% {
    transform: scale(105%);
  }
}
